* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background-image: url("paysage-nocturne-magique-avec-des-lumieres-scintillantes.jpg"); */
    background: #000000;
    background: linear-gradient(30deg, rgb(95, 94, 94) 0%, rgb(73, 73, 73) 50%, rgb(0, 0, 0) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 10px 3px 9px black;
}

.accueil {
    display: flex;
    gap: 15px;
    color: white;
    font-weight: bold;
    justify-content: flex-start;
    padding-left: 10px;
}

.accueil h1 {
    font-size: 1.3rem;
    padding-top: 0px;
}

.menu {
    display: flex;
    gap: 5px;
    font-size: 1.3rem;
    padding-right: 10px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border-radius: 10px; */
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #00bfff;
    box-shadow:
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 30px #0ff;
}

/*main*/
main {
    flex: 1;
    padding-bottom: 30px;
}

.lunesensemble {
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-top: 90px;
}

.lunes {
    border-style: solid;
    border-color: black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    border-radius: 15%;
    border-width: thick;
    background-color: #303366;
    position: relative;
    overflow: hidden;
    animation: shadows 1.5s infinite;
    gap: 30px;     
    border-style : solid;
}

.lunes img {
    width:  90px;
    height:  90px;
    position: absolute;
    top: 55px;
    right: 6px;
}

.lunes p {
    position: absolute;
    bottom: 7px;
    left: 8px;   
    text-align: center;
    color: white;
    font-family: "Polaris Space Font";s
    font-size: clamp(0.5rem, 20px, 1.5rem);
    text-shadow: -1px -1px 0 black,
                  1px -1px 0 black,
                 -1px  1px 0 black,
                  1px  1px 0 black;
}

.lunes h2 {
    position: absolute;
    left: 40px;
    top: -10.5px;
    color: white;
    font-family: "Polaris Space Font";
    font-size: clamp(0.5rem, 26.5px, 5rem);
}


#carreGanymede{
    background: linear-gradient(to bottom, #766E69, #DCCEC4);
    box-shadow: 0px 0px 20px 10px #766E69;
}

#carreTitan{
    background: linear-gradient(to bottom, #1EC843, #0F6221);
    box-shadow: 0px 0px 20px 10px #1EC843;
    
}

#carreCalisto{
    background: linear-gradient(to bottom, #838DA1, #30333B);
    box-shadow: 0px 0px 20px 10px #838DA1;
}

#carreIo{
    background: linear-gradient(to bottom, #CDA710, #675408);
    box-shadow: 0px 0px 20px 10px #CDA710;
}

#carreLune{
    background: linear-gradient(to bottom, #B49D9D, #4E4444);
    box-shadow: 0px 0px 20px 10px #B49D9D;
}

#carreEurope{
    background: linear-gradient(to bottom, #757970, #D7DFCE);
    box-shadow: 0px 0px 20px 10px #757970;

}

#carreEncelade{
    background: linear-gradient(to bottom, #888888, #222222);
    box-shadow: 0px 0px 20px 10px #888888;
}

#carreTriton{
    background: linear-gradient(to bottom, #757979, #D8DEDF);
    box-shadow: 0px 0px 20px 10px #757979;
}


/*footer*/

footer {
    background: #090c52;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        align-items: center; 
    }

    .accueil {
            flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .lunesensemble {
        margin-top: 130px;
        flex-direction: column;
        align-items: center;
        
    }

}
