html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #090C52;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
      flex: 1;
}

/*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #090c52;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.accueil {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 3px;
}

.accueil img {
    width: 40px;
    height: 40px;
}

.navbar .accueil a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: 0px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #00bfff;
    box-shadow:
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 30px #0ff;
}

/* Page principale */

.lunesensemble {
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: center;
    margin: 2vh auto;
    width: 90%;
    padding-top: 100px;
}

.lunes {
    border-style: solid;
    border-color: black;
    width: 30vh;
    height: 40vh;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    border-radius: 2vh;
    border-width: thick;
    background-color: #303366;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px #48abe0;
    animation: shadows 1.5s infinite;
    gap: 30px;     
    border-style : solid;         
}

.lunes img {
    width:  12vh;
    height:  12vh;
    position: absolute;
    top: 8vh;
    right: 1vh;
}

.lunes p {
    position: absolute;
    top: 20vh;
    left: 3vh;   
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: "Polaris Space Font";
}

.lunes h2 {
    position: absolute;
    left: 1vh;
    top: -1.5vh;
    color: white;
    font-family: "Polaris Space Font";
    font-size: 3rem;
}


#carreGanymede{
    background: linear-gradient(to bottom, #766E69, #DCCEC4);
}

#carreTitan{
    background: linear-gradient(to bottom, #1EC843, #0F6221);
}

#carreCalisto{
    background: linear-gradient(to bottom, #838DA1, #30333B);
}

#carreIo{
    background: linear-gradient(to bottom, #CDA710, #675408);
}

#carreLune{
    background: linear-gradient(to bottom, #B49D9D, #4E4444);
}

#carreEurope{
    background: linear-gradient(to bottom, #757970, #D7DFCE);

}

#carreEncelade{
    background: linear-gradient(to bottom, #888888, #222222);
}

#carreTriton{
    background: linear-gradient(to bottom, #757979, #D8DEDF);
}



    
    


/* bas de page */

footer {
    background: #090c52;
    padding: 1rem 2rem;
}

footer #topBtn {
    display: inline;
    transition: color 0.3s ease;
    background-color: #585cd7;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

footer #topBtn:hover {
    background-color: #eee;
}







