html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #090C52;
    background-color: #090C52;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
      flex: 1;
}

/*header*/

.navbar {
    background-color: #090c52;
    padding: 1rem 2rem;}

.navbar .accueil {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 0.5rem;
    left: 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu-item {
    position: relative;
    left: 75rem;
    bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #00bfff; 
}

/* Page principale */

.carreGanymede{
    border-style : solid;
    background: linear-gradient(to bottom, #766E69, #DCCEC4);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    top: 10vh;
    left: 20vh;
    

}
/* Titre */
.carreGanymede h2 {
    position: absolute;
    left: 1vh;
    color: white;
    font-family: "Polaris Space Font";
    
}

/* Paragraphe */
.carreGanymede p {
    position: absolute;
    top: 20vh;
    left: 3vh;   
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "Polaris Space Font";
}





.carreTitan{
    border-style : solid;
    background: linear-gradient(to bottom, #1EC843, #0F6221);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;
}

/* Titre */
.carreTitan h2 {
    position: absolute;
    left: 2vh;
    color: white;
    font-family: "Polaris Space Font";
}

/* Paragraphe */
.carreTitan p {
    position: absolute;
    top: 20vh;
    left: 2vh;   
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "Polaris Space Font";
}



.carreCalisto{
    border-style : solid;
    background: linear-gradient(to bottom, #838DA1, #30333B);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;
}

.carreIo{
    border-style : solid;
    background: linear-gradient(to bottom, #CDA710, #675408);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;
}

.carreLune{
    border-style : solid;
    background: linear-gradient(to bottom, #B49D9D, #4E4444);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height: 350px;
    position: absolute;
    top: 70vh;
    left: 20vh;
    
    
}

/* Titre */
.carreLune h2 {
    position: absolute;
    left: 2vh;
    color: white;
    font-family: "Polaris Space Font";
}

/* Paragraphe */
.carreLune p {
    position: absolute;
    top: 20vh;
    left: 2vh;   
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "Polaris Space Font";
}


.carreEurope{
    border-style : solid;
    background: linear-gradient(to bottom, #757970, #D7DFCE);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height: 350px;
    position: absolute;
    left: 40vh;
}

.carreEncelade{
    border-style : solid;
    background: linear-gradient(to bottom, #888888, #222222);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height: 350px;
    position: absolute;
    left: 40vh;
}

.carreTriton{
    border-style : solid;
    background: linear-gradient(to bottom, #757979, #D8DEDF);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height: 350px;
    position: absolute;
    left: 40vh;
}



    
    


/* bas de page */

footer {
    background: #090c52;
    padding: 1rem 2rem;
}

footer #topBtn {
    display: inline;
    transition: color 0.3s ease;
    background-color: #585cd7;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

footer #topBtn:hover {
    background-color: #eee;
}




