html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #090C52;
    background-color: #090C52;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
      flex: 1;
}

/*header*/

.navbar {
    background-color: #090c52;
    padding: 1rem 2rem;}

.navbar .accueil {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 0.5rem;
    left: 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu-item {
    position: relative;
    left: 75rem;
    bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #00bfff; 
}

/* Page principale */

.carreMercure{
    border-style : solid;
    background: linear-gradient(to bottom, #B9723F, #c94f04);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    top: 10vh;
    left: 20vh;



.carreVenus{
    border-style : solid;
    background: linear-gradient(to bottom, #DE9542, #785124);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;


.carreTerre{
    border-style : solid;
    background: linear-gradient(to bottom, #3E70DB, #213C75);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;

.carreMars{
    border-style : solid;
    background: linear-gradient(to bottom, #F96F0C, #934107);
    border-color : black;
    border-radius: 2vh;
    width: 225px;
    height:350px;
    position: absolute;
    left: 40vh;



    
    


/* bas de page */

footer {
    background: #090c52;
    padding: 1rem 2rem;
}

footer #topBtn {
    display: inline;
    transition: color 0.3s ease;
    background-color: #585cd7;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

footer #topBtn:hover {
    background-color: #eee;
}



