* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(143, 31, 137);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/*header*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #090c52;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.accueil {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 3px;
}

.accueil img {
    width: 40px;
    height: 40px;
}

.navbar .accueil a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 5px;
    margin-left: auto;
    margin-right: 0px;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #00bfff;
    box-shadow:
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 30px #0ff;
}

/*main*/

main {
    flex: 1;
    padding-top: 100px;
}

.carre-principale {
    background-image: url("Galaxie.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carre-principale-texte {
    border: 2px solid black;
    background: linear-gradient(to bottom right, purple, darkblue);
    width: 90%;
    padding: 20px;
    opacity: 0.8;
    border-radius: 20px;
    font-size: clamp(8px, 1vw, 12px);
    color: white;
}

.carre-principale h2 {
    color: white;
    font-size: clamp(24px, 4vw, 48px);
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    text-align: left;
}

.carre-principale ul{
    font-size: clamp(14px, 3vw, 18px);
    color: white;
}

.carre-principale a{
    color: white;
}


/*animation pour box shadow*/

@keyframes shadows {
  0% {
    box-shadow: 0 0 10px #48abe0;
  }
  50% {
    box-shadow: 0 0 20px blueviolet;
  }
  100% {
    box-shadow: 0 0 10px #48abe0;
  }
}


/*footer*/

footer {
    background: #090c52;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
