body {
    color: #090C52;
    background-color: #090C52; ;
}

.carréprincipale {
    border-style : solid;
    border-color : black;
    margin:  235px;
    width: 800px;
    height: 500px;

.carréprincipale2 {
    border-style : solid;
    border-color : black;
    background-color: #303366;
    margin:  50px;
    width:  700px;
    height: 400px;
}

.carrésecondaire {
    border-style : solid;
    border-color : black;
    width: 200px;
    height: 100px;
}


.ensembleminicarré {
    display: flex;
    gap:50px;
    justify-content: center;
}
