html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #090C52;
    background-color: #090C52;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
      flex: 1;
}

/*header*/

.navbar {
    background-color: #090c52;
    padding: 1rem 2rem;}

.navbar .accueil {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 0.5rem;
    left: 2rem;
}

.menu {
    display: flex;
    gap: 2rem;
}

.menu-item {
    position: relative;
    left: 75rem;
    bottom: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-item:hover {
    color: #00bfff; 
}

/* Page principale */

.carréprincipale {
    border-style : solid;
    border-color : black;
    margin:  235px;
    width: 800px;
    height: 500px;

.carréprincipale2 {
    border-style : solid;
    border-color : black;
    background-color: #303366;
    margin:  50px;
    width:  700px;
    height: 400px;
}
    
p{
    color: #FFFFFF;
    text-align: center;
    text: ;

}

img{
    margin: -53px;
    width: 800px;
    height: 500px;
    opacity:0.3;
}
    

.carrésecondaire {
    border-style : solid;
    border-color : black;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    color: white;
    font-size: 0.5em;
    vertical-align: top;
    border-radius: 15px;
    border-width: thick;
}

/* bas de page */

footer {
    background: #090c52;
    padding: 1rem 2rem;
}

footer #topBtn {
    display: inline;
    transition: color 0.3s ease;
    background-color: #585cd7;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

footer #topBtn:hover {
    background-color: #eee;
}



.ensembleminicarré {
    display: flex;
    gap:20px;
    justify-content: center;
}
