body {
    color: #090C52;
    background-color: #090C52; ;
}

.carréprincipale {
    border-style : solid;
    border-color : black;
    margin:  235px;
    width: 800px;
    height: 500px;

.carréprincipale2 {
    border-style : solid;
    border-color : black;
    background-color: #303366;
    margin:  50px;
    width:  700px;
    height: 400px;
}
    
p{
    color: #FFFFFF;
    text-align: center;
    text: ;

}

img{
    margin: -53px;
    width: 800px;
    height: 500px;
    opacity:0.3;
}
    

.carrésecondaire {
    border-style : solid;
    border-color : black;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    color: white;
    font-size: 0.5em;
    vertical-align: top;
    border-radius: 15px;
    border-width: thick;
}



.ensembleminicarré {
    display: flex;
    gap:20px;
    justify-content: center;
}
